In [1]:
import pandas as pd
pd.options.display.max_columns = None

import requests

In [2]:

base_url = f"https://www.gamedaycalendar.com/schedules/nba/{2023}"

teams = pd.read_html(base_url)
teams_df = pd.concat([division.melt() for division in teams])
teams_df.head()

   variable               value
0  Atlantic      Boston Celtics
1  Atlantic       Brooklyn Nets
2  Atlantic     New York Knicks
3  Atlantic  Philadelphia 76ers
4  Atlantic     Toronto Raptors

In [3]:
seasons = list(range(2014, 2024))
print(seasons)
data_frames = []
for season in seasons:
    # print(season)
    teams = pd.read_html(base_url)
    teams_df = pd.concat([division.melt() for division in teams])
    teams_df['season'] = season
    data_frames.append(teams_df)
# data_frames = [x for x in data_frames if str(type(x)).lower == ""]
division_df = pd.concat(data_frames)
print(division_df['value'].nunique())
print(division_df.shape)
division_df.head(2)

[2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
30

   variable           value  season
0  Atlantic  Boston Celtics    2014
1  Atlantic   Brooklyn Nets    2014

In [4]:
# load team data to get the 3 letter abbreviations for each team
team_info_df = pd.read_csv("../data/team_info.csv")
abbreviations = team_info_df['abbreviation'].str.lower().tolist()
abbreviations[:5]

['atl', 'bos', 'cle', 'nop', 'chi']

In [5]:
# season 2023
url  = "https://www.gamedaycalendar.com/schedules/nba/"
# year = 2022
months = list(range(12))
dfs = []
for season in seasons:
    print(season)
    for team_abbr in abbreviations[:1]:
        month_dfs = []
        for month in months:
            page_data = pd.read_html(f"https://www.gamedaycalendar.com/schedules/nba/{team_abbr}/{season}/{month}")
            if len(page_data) >= 2:
                month_dfs.append(page_data[1])
        
        dfs.append(pd.concat(month_dfs))

print("Done")
# dfs

2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
Done

In [6]:
a = pd.concat(dfs)
print(a.shape)
a

(853, 3)

              Date            Time                  Opponent
0   Regular Season  Regular Season            Regular Season
1       Fri, Jan 2         9:00 PM               @ Utah Jazz
2       Sat, Jan 3        10:00 PM  @ Portland Trail Blazers
3       Mon, Jan 5        10:30 PM    @ Los Angeles Clippers
4       Wed, Jan 7         7:30 PM      vs Memphis Grizzlies
..             ...             ...                       ...
7      Fri, Dec 22         7:00 PM              @ Miami Heat
8      Sat, Dec 23         6:30 PM      vs Memphis Grizzlies
9      Tue, Dec 26         7:00 PM           @ Chicago Bulls
10     Fri, Dec 29         6:30 PM       vs Sacramento Kings
11     Sun, Dec 31         2:00 PM      @ Washington Wizards

[853 rows x 3 columns]

In [7]:
# pd.read_html("https://www.gamedaycalendar.com/schedules/nba/bos/2014/7")#[1]