In [13]:
import pandas as pd
pd.options.display.max_columns = None
from nba_api.stats.static import teams
from nba_api.stats.endpoints import teamgamelog

In [ ]:

# Get all NBA teams
nba_teams = teams.get_teams()

# Select a team
team = [team for team in nba_teams if team['abbreviation'] == 'ATL'][0]

# Get the team ID
team_id = team['id']

# Query the API
response = teamgamelog.TeamGameLog(
    team_id=team_id,
    season='2020-21',  # 2020-2021 season
    season_type_all_star='Regular Season'  # Regular season
)

# Get the data as a pandas DataFrame
data = response.get_data_frames()[0]

# Convert the GAME_DATE column to datetime
data['GAME_DATE'] = pd.to_datetime(data['GAME_DATE'])#, format="%yyyy-%m-%d")

# Save the DataFrame to a CSV file
# data.to_csv('/Users/maxogles/Desktop/NBA-Schedules/data/game_log_data.csv', index=False)
print(data.shape)
data

In [21]:
# nba_teams
a = response.get_data_frames()[0]

a['GAME_DATE'] = pd.to_datetime(a['GAME_DATE']).dt.strftime('%Y-%m-%d').astype("datetime64[ns]")
a.info()
a

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 27 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Team_ID    72 non-null     int64
 1   Game_ID    72 non-null     object
 2   GAME_DATE  72 non-null     object
 3   MATCHUP    72 non-null     object
 4   WL         72 non-null     object
 5   W          72 non-null     int64
 6   L          72 non-null     int64
 7   W_PCT      72 non-null     float64
 8   MIN        72 non-null     int64
 9   FGM        72 non-null     int64
 10  FGA        72 non-null     int64
 11  FG_PCT     72 non-null     float64
 12  FG3M       72 non-null     int64
 13  FG3A       72 non-null     int64
 14  FG3_PCT    72 non-null     float64
 15  FTM        72 non-null     int64
 16  FTA        72 non-null     int64
 17  FT_PCT     72 non-null     float64
 18  OREB       72 non-null     int64
 19  DREB       72 non-null     int64
 20  REB        72 non-null     int64
 21  AST        72 non-null     int64
 22  STL        72 non-null     int64
 23  BLK        72 non-null     int64
 24  TOV        72 non-null     int64
 25  PF         72 non-null     int64
 26  PTS        72 non-null     int64
dtypes: float64(4), int64(19), object(4)
memory usage: 15.3+ KB

/var/folders/dq/n1gz5xz55cj7qv8f04fcsb0m0000gp/T/ipykernel_9164/3485837944.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  a['GAME_DATE'] = pd.to_datetime(a['GAME_DATE'])

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612737,0022001066,2021-05-16,ATL vs. HOU,W,41,31,0.569,240,49,90,0.544,7,21,0.333,19,26,0.731,11,45,56,32,10,8,13,16,124
1,1610612737,0022001049,2021-05-13,ATL vs. ORL,W,40,31,0.563,240,41,94,0.436,14,36,0.389,20,24,0.833,12,37,49,19,9,4,7,16,116
2,1610612737,0022001042,2021-05-12,ATL vs. WAS,W,39,31,0.557,240,44,86,0.512,10,33,0.303,22,28,0.786,7,44,51,22,4,5,14,21,120
3,1610612737,0022001026,2021-05-10,ATL vs. WAS,W,38,31,0.551,240,46,96,0.479,10,30,0.333,23,26,0.885,13,42,55,23,4,6,12,17,125
4,1610612737,0022001000,2021-05-06,ATL @ IND,L,37,31,0.544,240,48,94,0.511,15,37,0.405,15,18,0.833,10,24,34,27,8,6,12,17,126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,1610612737,0022000072,2021-01-01,ATL @ BKN,W,4,1,0.800,240,43,93,0.462,16,39,0.410,12,14,0.857,10,38,48,24,8,3,9,20,114
68,1610612737,0022000057,2020-12-30,ATL @ BKN,L,3,1,0.750,240,47,99,0.475,18,46,0.391,29,35,0.829,17,37,54,27,5,2,12,19,141
69,1610612737,0022000041,2020-12-28,ATL vs. DET,W,3,0,1.000,240,40,82,0.488,20,42,0.476,28,32,0.875,8,37,45,30,5,7,13,22,128
70,1610612737,0022000021,2020-12-26,ATL @ MEM,W,2,0,1.000,240,38,89,0.427,13,36,0.361,33,38,0.868,13,41,54,23,4,5,15,20,122
71,1610612737,0022000015,2020-12-23,ATL @ CHI,W,1,0,1.000,240,43,80,0.538,14,35,0.400,24,29,0.828,8,38,46,24,6,3,21,29,124