In [1]:
# !pip install pytz

In [2]:
import pandas as pd
from nba_api.stats.static import teams

# Get all NBA teams
nba_teams = pd.DataFrame(teams.get_teams())

# Add the time zone for each team manually
team_time_zones = {
    'ATL': 'America/New_York', 'BOS': 'America/New_York', 'CLE': 'America/New_York', 
    'NOP': 'America/Chicago', 'CHI': 'America/Chicago', 'DAL': 'America/Chicago',
    'DEN': 'America/Denver', 'GSW': 'America/Los_Angeles', 'HOU': 'America/Chicago',
    'LAC': 'America/Los_Angeles', 'LAL': 'America/Los_Angeles', 'MIA': 'America/New_York',
    'MIL': 'America/Chicago', 'MIN': 'America/Chicago', 'BKN': 'America/New_York',
    'NYK': 'America/New_York', 'ORL': 'America/New_York', 'IND': 'America/New_York',
    'PHI': 'America/New_York', 'PHX': 'America/Phoenix', 'POR': 'America/Los_Angeles',
    'SAC': 'America/Los_Angeles', 'SAS': 'America/Chicago', 'OKC': 'America/Chicago',
    'TOR': 'America/Toronto', 'UTA': 'America/Denver', 'MEM': 'America/Chicago',
    'WAS': 'America/New_York', 'DET': 'America/New_York', 'CHA': 'America/New_York'
}

utc_offsets = {
    'America/New_York': -4,
    'America/Chicago': -5,
    'America/Denver': -6,
    'America/Los_Angeles': -8,
    'America/Phoenix': -7,
    'America/Toronto': -4,
    'America/Utah': -7
}

# Add the time zones to the DataFrame
nba_teams['timezone'] = nba_teams['abbreviation'].map(team_time_zones)
nba_teams['time_diff'] = nba_teams['timezone'].map(utc_offsets) + 4

# Save the DataFrame to a CSV file
nba_teams.to_csv('../data/team_info_with_timezone.csv', index=False)
nba_teams

,id,full_name,abbreviation,nickname,city,state,year_founded,timezone,time_diff
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949,America/New_York,0
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946,America/New_York,0
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970,America/New_York,0
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002,America/Chicago,-1
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966,America/Chicago,-1
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980,America/Chicago,-1
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976,America/Denver,-2
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946,America/Los_Angeles,-4
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967,America/Chicago,-1
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970,America/Los_Angeles,-4
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948,America/Los_Angeles,-4
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988,America/New_York,0
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968,America/Chicago,-1
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989,America/Chicago,-1
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976,America/New_York,0
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946,America/New_York,0
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989,America/New_York,0
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976,America/New_York,0
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949,America/New_York,0
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968,America/Phoenix,-3
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970,America/Los_Angeles,-4
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948,America/Los_Angeles,-4
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976,America/Chicago,-1
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967,America/Chicago,-1
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995,America/Toronto,0
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974,America/Denver,-2
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995,America/Chicago,-1
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961,America/New_York,0
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948,America/New_York,0
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988,America/New_York,0