In [2]:
import pandas as pd
pd.options.display.max_columns = None

from nba_api.stats.static import teams
from nba_api.stats.endpoints import teamgamelog

# Get all NBA teams
nba_teams = teams.get_teams()

# Select a team
team = [team for team in nba_teams if team['abbreviation'] == 'ATL'][0]

# Get the team ID
team_id = team['id']

# Query the API
response = teamgamelog.TeamGameLog(
    team_id=team_id,
    season='2020-21',  # 2020-2021 season
    season_type_all_star='Regular Season'  # Regular season
)

# Get the data as a pandas DataFrame
data = response.get_data_frames()[0]

# Convert the GAME_DATE column to datetime
data['GAME_DATE'] = pd.to_datetime(data['GAME_DATE'])

# Initialize the columns for the number of games in the last 4 and 7 days
data['GAMES_IN_LAST_4_DAYS'] = 0
data['GAMES_IN_LAST_7_DAYS'] = 0

# Calculate the number of games in the last 4 and 7 days
for i in range(len(data)):
    current_date = data.iloc[i]['GAME_DATE']
    previous_games = data[data['GAME_DATE'] < current_date]  # games before the current one
    data.loc[i, 'GAMES_IN_LAST_4_DAYS'] = sum((current_date - previous_games['GAME_DATE']).dt.days <= 4)
    data.loc[i, 'GAMES_IN_LAST_7_DAYS'] = sum((current_date - previous_games['GAME_DATE']).dt.days <= 7)
    
# Sort the DataFrame by GAME_DATE in ascending order
data = data.sort_values('GAME_DATE')

# Calculate the number of days since the previous game
data['DAYS_SINCE_PREV_GAME'] = data['GAME_DATE'].diff().dt.days

# Display the data
data

/var/folders/dq/n1gz5xz55cj7qv8f04fcsb0m0000gp/T/ipykernel_10002/3740260423.py:27: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['GAME_DATE'] = pd.to_datetime(data['GAME_DATE'])

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,GAMES_IN_LAST_4_DAYS,GAMES_IN_LAST_7_DAYS,DAYS_SINCE_PREV_GAME
71,1610612737,0022000015,2020-12-23,ATL @ CHI,W,1,0,1.000,240,43,80,0.538,14,35,0.400,24,29,0.828,8,38,46,24,6,3,21,29,124,0,0,NaN
70,1610612737,0022000021,2020-12-26,ATL @ MEM,W,2,0,1.000,240,38,89,0.427,13,36,0.361,33,38,0.868,13,41,54,23,4,5,15,20,122,1,1,3.0
69,1610612737,0022000041,2020-12-28,ATL vs. DET,W,3,0,1.000,240,40,82,0.488,20,42,0.476,28,32,0.875,8,37,45,30,5,7,13,22,128,1,2,2.0
68,1610612737,0022000057,2020-12-30,ATL @ BKN,L,3,1,0.750,240,47,99,0.475,18,46,0.391,29,35,0.829,17,37,54,27,5,2,12,19,141,2,3,2.0
67,1610612737,0022000072,2021-01-01,ATL @ BKN,W,4,1,0.800,240,43,93,0.462,16,39,0.410,12,14,0.857,10,38,48,24,8,3,9,20,114,2,3,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,1610612737,0022001000,2021-05-06,ATL @ IND,L,37,31,0.544,240,48,94,0.511,15,37,0.405,15,18,0.833,10,24,34,27,8,6,12,17,126,2,4,1.0
3,1610612737,0022001026,2021-05-10,ATL vs. WAS,W,38,31,0.551,240,46,96,0.479,10,30,0.333,23,26,0.885,13,42,55,23,4,6,12,17,125,1,3,4.0
2,1610612737,0022001042,2021-05-12,ATL vs. WAS,W,39,31,0.557,240,44,86,0.512,10,33,0.303,22,28,0.786,7,44,51,22,4,5,14,21,120,1,3,2.0
1,1610612737,0022001049,2021-05-13,ATL vs. ORL,W,40,31,0.563,240,41,94,0.436,14,36,0.389,20,24,0.833,12,37,49,19,9,4,7,16,116,2,3,1.0
0,1610612737,0022001066,2021-05-16,ATL vs. HOU,W,41,31,0.569,240,49,90,0.544,7,21,0.333,19,26,0.731,11,45,56,32,10,8,13,16,124,2,3,3.0