## NBA API

**NOTES**

- figure out how to join to get 0's for players that missed games for the one chart
    - get all players dataset and join box scores to it or something like that
- figure out how to not count it against them if the didn't play in the game for ppg
    - check minutes

In [2]:
import seaborn as sns
from matplotlib import pyplot as plt
# import imageio
import pandas as pd
import numpy as np

pd.options.display.max_columns = None

In [3]:
# used for team and player box scores
from nba_api.stats.endpoints import (
    leaguegamefinder,  # box scores
    leaguedashplayerstats,  # position
    # leaguedashplayershotlocations,  # curious
)

### Team Box Scores

In [4]:
# # Query for games where the Celtics were playing
gamefinder = leaguegamefinder.LeagueGameFinder(
    # player_or_team_abbreviation="P",
    season_type_nullable="Regular Season",
    season_nullable="2022-23",
)
# The first DataFrame of those returned is what we want.
team_box = gamefinder.get_data_frames()[0]
print(team_box.shape)
team_box.head()

(3420, 28)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22022,1610612754,IND,Indiana Pacers,0022201220,2023-04-09,IND @ NYK,W,241,141,46,89,0.517,19,34,0.559,30,38,0.789,8,36,44,33,8,9,15,24,5.0
1,22022,1610612760,OKC,Oklahoma City Thunder,0022201226,2023-04-09,OKC vs. MEM,W,240,115,45,90,0.500,12,36,0.333,13,16,0.813,8,41,49,30,5,2,14,17,15.0
2,22022,1610612739,CLE,Cleveland Cavaliers,0022201218,2023-04-09,CLE vs. CHA,L,241,95,35,89,0.393,10,37,0.270,15,16,0.938,11,33,44,27,9,5,16,24,-11.0
3,22022,1610612752,NYK,New York Knicks,0022201220,2023-04-09,NYK vs. IND,L,241,136,52,108,0.481,15,40,0.375,17,22,0.773,19,34,53,29,8,8,15,24,-5.0
4,22022,1610612761,TOR,Toronto Raptors,0022201221,2023-04-09,TOR vs. MIL,W,239,121,48,95,0.505,11,33,0.333,14,16,0.875,7,38,45,29,8,2,9,19,16.0

In [4]:
# use the team box data to find out if players didn't play in certain games

### Players by position

In [5]:
# https://www.nba.com/stats/players/traditional?PlayerPosition=G&sort=PTS&dir=-1
# leaguedashplayerstats

# Query for games where the Celtics were playing
playerfinder = leaguedashplayerstats.LeagueDashPlayerStats(
    player_position_abbreviation_nullable='G'
)
# The first DataFrame of those returned is what we want.
guards = playerfinder.get_data_frames()[0]
print(guards.shape)
guards.head()

(274, 66)

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,WNBA_FANTASY_PTS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK
0,1630639,A.J. Lawson,A.J.,1610612742,DAL,22.0,15,5,10,0.333,108.268333,22,44,0.500,10,25,0.400,2,8,0.250,6,15,21,2,3,2,0,3,11,6,56,-46,87.2,0,0,93.0,225,228,56,228,233,219,222,28,210,214,49,237,219,255,209,223,222,259,242,242,242,54,42,226,218,191,232,107,25,229
1,1631260,AJ Green,AJ,1610612749,MIL,23.0,35,27,8,0.771,344.950000,53,125,0.424,44,105,0.419,4,4,1.000,6,39,45,22,9,6,0,1,31,4,154,-26,250.0,0,0,277.0,187,124,47,10,202,196,195,157,151,165,32,227,234,1,209,195,199,212,219,218,242,18,74,234,194,168,203,107,25,201
2,1628988,Aaron Holiday,Aaron,1610612737,ATL,26.0,63,32,31,0.508,845.256667,92,220,0.418,36,88,0.409,27,32,0.844,25,49,74,89,36,37,12,16,79,50,247,17,580.3,0,0,544.0,95,94,185,129,154,167,167,171,164,174,39,167,181,82,127,187,176,145,159,124,119,144,137,142,167,95,163,107,25,165
3,1630174,Aaron Nesmith,Aaron,1610612754,IND,23.0,73,30,43,0.411,1816.403333,252,590,0.427,115,314,0.366,119,142,0.838,62,215,277,98,75,55,34,46,235,141,738,-211,1409.4,1,0,1406.0,45,106,259,205,79,88,84,154,69,71,111,69,74,87,27,53,49,136,98,76,17,233,271,60,80,262,86,72,25,83
4,1630598,Aaron Wiggins,Aaron,1610612760,OKC,24.0,70,37,33,0.529,1297.436667,186,363,0.512,48,122,0.393,59,71,0.831,68,143,211,80,56,39,15,33,110,61,479,9,958.2,1,0,926.0,61,58,202,108,115,119,130,21,142,154,57,118,121,98,19,104,84,148,125,119,94,207,177,131,123,101,129,72,25,131

In [6]:
# guards.sample(5)

### Player Box Scores

In [7]:
from nba_api.stats.endpoints import leaguegamefinder

gamefinder = leaguegamefinder.LeagueGameFinder(
    player_or_team_abbreviation="P",
    season_type_nullable="Regular Season",
    season_nullable="2022-23",
)

df = gamefinder.get_data_frames()[0]
print(df.shape)
df.head()

(30000, 30)

,SEASON_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22022,1630173,Precious Achiuwa,1610612761,TOR,Toronto Raptors,0022201221,2023-04-09,TOR vs. MIL,W,28,14,6,11,0.545,2,5,0.400,0,0,NaN,1,12,13,1,2,0,2,2,9
1,22022,201949,James Johnson,1610612754,IND,Indiana Pacers,0022201220,2023-04-09,IND @ NYK,W,7,6,3,5,0.600,0,0,NaN,0,0,NaN,1,1,2,3,1,0,0,1,-1
2,22022,1628221,Gabe York,1610612754,IND,Indiana Pacers,0022201220,2023-04-09,IND @ NYK,W,12,7,3,7,0.429,1,5,0.200,0,0,NaN,0,0,0,1,1,0,0,3,8
3,22022,1629656,Quentin Grimes,1610612752,NYK,New York Knicks,0022201220,2023-04-09,NYK vs. IND,L,32,22,8,13,0.615,5,10,0.500,1,1,1.0,0,1,1,3,0,0,0,4,14
4,22022,1629670,Jordan Nwora,1610612754,IND,Indiana Pacers,0022201220,2023-04-09,IND @ NYK,W,23,19,7,10,0.700,4,6,0.667,1,1,1.0,0,4,4,0,0,1,3,4,-13

##

In [8]:
# make team game key
df['TEAM_GAME_KEY'] = df['TEAM_ABBREVIATION'] + '_' + df['GAME_ID']
df['GAME_DATE'] = pd.to_datetime(df['GAME_DATE'])

# mark as guard or not guard
df['IS_GUARD'] = np.where(df['PLAYER_ID'].isin(guards['PLAYER_ID']), 1, 0)


print(df.shape)
df.sample(2)

(30000, 32)

,SEASON_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,TEAM_GAME_KEY,IS_GUARD
1496,22022,1626172,Kevon Looney,1610612744,GSW,Golden State Warriors,0022201158,2023-03-31,GSW vs. SAS,W,24,6,3,5,0.600,0,0,NaN,0,1,0.000,2,7,9,3,1,0,0,3,10,GSW_0022201158,0
6890,22022,1628368,De'Aaron Fox,1610612758,SAC,Sacramento Kings,0022200997,2023-03-09,SAC vs. NYK,W,31,23,9,16,0.563,1,4,0.25,4,7,0.571,0,3,3,7,4,0,3,4,7,SAC_0022200997,1

In [ ]:
# # temporary constraint
# df=df[
#     df['TEAM_ABBREVIATION'].isin(["POR"])
# ]
# print(df.shape)
# df.head()

In [13]:
# make a lookup table that has a row for each game for each team
# so total rows = total games played * 2 
# since there is one row for each team per game
team_games = (
        df.pivot_table(
            index=["TEAM_ID","TEAM_ABBREVIATION", "TEAM_GAME_KEY", 'GAME_DATE', 'MATCHUP', "WL"],
            values=["PLAYER_ID"],
            aggfunc=pd.Series.nunique,
        )
        .reset_index()
        .drop(['PLAYER_ID'], axis=1)
        .sort_values(by=["TEAM_ID",'GAME_DATE'])
)
team_games["TEAM_GAME_ID"] = team_games.groupby(["TEAM_ABBREVIATION"]).cumcount() + 1

print(team_games.shape)
# team_games.tail(25)
team_games.sample(10)

(2952, 7)

,TEAM_ID,TEAM_ABBREVIATION,TEAM_GAME_KEY,GAME_DATE,MATCHUP,WL,TEAM_GAME_ID
1145,1610612754,IND,IND_0022200431,2022-12-16,IND @ CLE,L,16
2037,1612709890,AUS,AUS_2022200212,2023-02-02,AUS vs. OKL,L,14
1669,1610612762,UTA,UTA_0022200289,2022-11-26,UTA @ PHX,L,5
2545,1612709920,RAP,RAP_2022200170,2023-01-25,RAP vs. BIR,W,10
1271,1610612756,PHX,PHX_0022200334,2022-12-02,PHX vs. HOU,L,7
559,1610612745,HOU,HOU_0022200664,2023-01-16,HOU @ LAL,L,28
1444,1610612758,SAC,SAC_0022200915,2023-02-26,SAC @ OKC,W,46
2512,1612709919,WES,WES_2022200155,2023-01-22,WES vs. IWA,L,8
129,1610612738,BOS,BOS_0022201181,2023-04-04,BOS @ PHI,L,63
1471,1610612759,SAS,SAS_0022200288,2022-11-26,SAS vs. LAL,L,5

In [15]:
temp = team_games[
    team_games['TEAM_ABBREVIATION'] == "POR"
]
print(temp.shape)
temp.head(10)

(67, 7)

,TEAM_ID,TEAM_ABBREVIATION,TEAM_GAME_KEY,GAME_DATE,MATCHUP,WL,TEAM_GAME_ID
1332,1610612757,POR,POR_0022200238,2022-11-19,POR vs. UTA,L,1
1333,1610612757,POR,POR_0022200251,2022-11-21,POR @ MIL,L,2
1334,1610612757,POR,POR_0022200261,2022-11-23,POR @ CLE,L,3
1335,1610612757,POR,POR_0022200274,2022-11-25,POR @ NYK,W,4
1336,1610612757,POR,POR_0022200290,2022-11-27,POR @ BKN,L,5
1337,1610612757,POR,POR_0022200311,2022-11-29,POR vs. LAC,L,6
1338,1610612757,POR,POR_0022200324,2022-11-30,POR @ LAL,L,7
1339,1610612757,POR,POR_0022200343,2022-12-03,POR @ UTA,W,8
1340,1610612757,POR,POR_0022200351,2022-12-04,POR vs. IND,W,9
1341,1610612757,POR,POR_0022200376,2022-12-08,POR vs. DEN,L,10

In [10]:
team_games['TEAM_GAME_ID'].max()

68

In [ ]:
# make a table of players (1 row per player)
# note that this only includes players that have played in games
team_players = (
    df.pivot_table(
        index=["TEAM_ID","TEAM_ABBREVIATION", 'PLAYER_NAME', "PLAYER_ID"],
        values=['IS_GUARD'],
        aggfunc=max
    )
    .reset_index()
    # .drop("TEAM_GAME_KEY", axis=1)
)

print(team_players.shape)
team_players.head(30)

In [ ]:
# now join to get a table that has a row for each playe
tp_cols = [
    "TEAM_ID",
    # "TEAM_ABBREVIATION",
    "PLAYER_NAME",
    "PLAYER_ID",
    'IS_GUARD'
]
game_players = pd.merge(
    team_games,
    team_players[tp_cols],
    # on="TEAM_ID",
    left_on="TEAM_ID",
    right_on="TEAM_ID",
    how="left",
)

print(game_players.shape)

game_players.tail(25)

In [ ]:
df.columns
# df.head()

In [ ]:
cols = [
    # "SEASON_ID",
    "PLAYER_ID",
    "TEAM_GAME_KEY",
    # "PLAYER_NAME",
    # "TEAM_ID",
    # "TEAM_ABBREVIATION",
    # "TEAM_NAME",
    # "GAME_ID",
    # "GAME_DATE",
    # "MATCHUP",
    # "WL",
    "MIN",
    "PTS",
    # "FGM",
    # "FGA",
    # "FG_PCT",
    # "FG3M",
    # "FG3A",
    # "FG3_PCT",
    # "FTM",
    # "FTA",
    # "FT_PCT",
    # "OREB",
    # "DREB",
    # "REB",
    # "AST",
    # "STL",
    # "BLK",
    # "TOV",
    # "PF",
    # "PLUS_MINUS",
    # "IS_GUARD",
]

final = pd.merge(
    game_players,
    df[cols],
    left_on=["PLAYER_ID", "TEAM_GAME_KEY"],
    right_on=["PLAYER_ID", "TEAM_GAME_KEY"],
    how="left",
)

# make new columns
final['IS_GAME_PLAYED'] = np.where(~final['MIN'].isna(), 1, 0)

final.fillna(0, inplace=True)

final['cum_points'] = final.groupby(["PLAYER_ID"])['PTS'].cumsum()
final['TOTAL_GAMES_PLAYED'] = final.groupby(["PLAYER_ID"])['IS_GAME_PLAYED'].cumsum().fillna(0)
final['cum_ppg'] = (final.groupby(["PLAYER_ID"])['PTS'].cumsum() / final['TOTAL_GAMES_PLAYED']).fillna(0)


# save to file
final.to_csv("player_box_scores.csv", index=False)

print(final.shape)
# final.head(17)

In [ ]:
final.query("PLAYER_NAME == 'Damian Lillard'")

In [ ]:
top_ppg_guards = (
    df.query("IS_GUARD == 1")
    .pivot_table(
        index=['PLAYER_ID', 'PLAYER_NAME'],
        values=['PTS'],
        aggfunc='sum',
    )
    .reset_index()
    .sort_values(by=['PTS'], ascending=False)
    .head(3)
)
top_ppg_guards

In [ ]:
top_scoring_guards = (
    df.query("IS_GUARD == 1")
    .pivot_table(
        index=['PLAYER_ID', 'PLAYER_NAME'],
        values=['PTS'],
        aggfunc='mean',
    )
    .reset_index()
    .sort_values(by=['PTS'], ascending=False)
    .head(3)
)

top_scoring_guards

In [ ]:
# show points per game over time
# plot_df = final[final['PLAYER_NAME'].isin(["Ja Morant", "Damian Lillard"])]
plot_df = final[final['PLAYER_NAME'].isin(top_ppg_guards["PLAYER_NAME"].tolist() + ['Damian Lillard', 'Ja Morant'])]
sns.lineplot(x='TEAM_GAME_ID', y='cum_points', data=plot_df, hue='PLAYER_NAME', marker='o')
plt.title("Cumulative Points by Game")
plt.ylim(0,)
plt.grid()
plt.show()

In [ ]:
# ymin = temp["PTS"].min() - 5
# ymax = temp["PTS"].max() + 5
# xmin = temp["GAME_NUM"].min() - 0.05
# xmax = temp["GAME_NUM"].max() + 3

# sns.lineplot(x="GAME_NUM", y="PTS", hue="PLAYER_NAME", data=temp, marker="o")
# plt.title("Highest Scoring NBA Guards 2022-23")
# plt.ylim(ymin, ymax)
# plt.xlim(xmin, xmax)
# plt.grid()
# plt.show()


sns.lineplot(x='TEAM_GAME_ID', y='cum_ppg', data=plot_df, hue='PLAYER_NAME')#, marker='o')
plt.title("Points Per Game by Game")
plt.ylim(0,50)
plt.grid()
plt.show()

In [ ]:
assert False

In [ ]:
# make table that has all games for all teams in order
temp = (
    df.pivot_table(
        index=[
            "TEAM_ID",
            # "MATCHUP",
            # "TEAM_ABBREVIATION",
            "TEAM_GAME_KEY",
             "TEAM_NAME",
            "GAME_ID",
            "GAME_DATE",
        ],
        values=["PLAYER_ID"],
        aggfunc=pd.Series.nunique,
    )
    .reset_index()
    .sort_values(by=["TEAM_ID", "GAME_DATE"])
)
temp["TEAM_GAME_ID"] = temp.groupby(["TEAM_ID"]).cumcount() + 1

print(temp.shape)
temp.head()

In [ ]:
print(temp['team_game_key'].nunique())

In [ ]:
# master = pd.merge(
#     df,
#     temp[['team_game_key', 'team_game_id']],
#     left_on='team_game_key',
#     right_on='team_game_key',
#     how='left'
# ).sort_values(by=['TEAM_ID', 'GAME_DATE', "PLAYER_ID"])
# print(df.shape)
# print(master.shape)

# master.head(2)

In [ ]:
master = pd.merge(
    temp[['team_game_key', 'team_game_id']],
    df,
    left_on='team_game_key',
    right_on='team_game_key',
    how='outer'
).sort_values(by=['TEAM_ID', 'GAME_DATE', "PLAYER_ID"])
print(df.shape)
print(master.shape)

master.head(2)

In [ ]:
# make cumulative ppg
master['cum_points'] = master.groupby(["PLAYER_ID"])['PTS'].cumsum()
master['cum_ppg'] = master.groupby(["PLAYER_ID"])['PTS'].cumsum() / master['team_game_id']
# df['cumsum_col'] = df.groupby(['col1'])['col2'].cumsum()


master[master['PLAYER_NAME'] == "Ja Morant"]

In [ ]:
temp2 = master[master['PLAYER_NAME'].isin(["Ja Morant", "Damian Lillard"])]
sns.lineplot(x='team_game_id', y='cum_ppg', data=temp2, hue='PLAYER_NAME', marker='o')
plt.grid()
plt.show()

In [ ]:
temp2

In [ ]:
# get the top 5 scorers
top_scorers = (
    master.pivot_table(
        index=["PLAYER_ID", "PLAYER_NAME", "TEAM_NAME"],
        values=["PTS", "AST"],
        aggfunc="sum",
    )
    .sort_values(by="PTS", ascending=False)
    .reset_index()
    .head(5)
)

top_scorers

In [ ]:
# get the game data for each of the top scorers
temp = df[
    (df["PLAYER_ID"].isin(top_scorers["PLAYER_ID"]))
    & (df["PLAYER_ID"].isin(guards["PLAYER_ID"]))
]
# temp['GAME_DATE'] = pd.to_datetime(temp['GAME_DATE'])

temp = temp.sort_values(by=["PLAYER_ID", "GAME_ID"])
temp["GAME_NUM"] = temp.groupby("PLAYER_ID").cumcount() + 1
temp["PPM"] = temp["PTS"] / temp["MIN"]

print(temp.shape)
temp

In [ ]:
# plot
ymin = temp["PTS"].min() - 5
ymax = temp["PTS"].max() + 5
xmin = temp["GAME_NUM"].min() - 0.05
xmax = temp["GAME_NUM"].max() + 3

sns.lineplot(x="GAME_NUM", y="PTS", hue="PLAYER_NAME", data=temp, marker="o")
plt.title("Highest Scoring NBA Guards 2022-23")
plt.ylim(ymin, ymax)
plt.xlim(xmin, xmax)
plt.grid()
plt.show()

In [ ]:
# plot
yvar = "PPM"

ymin = temp[yvar].min() - 1
ymax = temp[yvar].max() + 1
xmin = temp["GAME_NUM"].min() - 0.01
xmax = temp["GAME_NUM"].max() + 2

sns.lineplot(x="GAME_NUM", y=yvar, hue="PLAYER_NAME", data=temp, marker="o")
plt.title("Points per Minute Played")
# plt.ylim(ymin, ymax)
# plt.xlim(xmin, xmax)
plt.grid()
sns.despine()
plt.show()

In [ ]:
# ideas
# make a ridge plot to show variance of scoring
# show sorted barchart of points per game
# show points + assists * 1.5 (or some scalar like that)
# make a gif

#### For specific players

In [ ]:
# get the game data for each of the top scorers
temp = df[df["PLAYER_NAME"].isin(["Damian Lillard", "Ja Morant"])]
# temp['GAME_DATE'] = pd.to_datetime(temp['GAME_DATE'])

temp = temp.sort_values(by=["PLAYER_ID", "GAME_ID"])
temp["GAME_NUM"] = temp.groupby("PLAYER_ID").cumcount() + 1
temp["PPM"] = temp["PTS"] / temp["MIN"]

print(temp.shape)
temp

In [ ]:
# plot
ymin = temp["PTS"].min() - 5
ymax = temp["PTS"].max() + 5
xmin = temp["GAME_NUM"].min() - 0.05
xmax = temp["GAME_NUM"].max() + 3

sns.lineplot(x="GAME_NUM", y="PTS", hue="PLAYER_NAME", data=temp, marker="o")
plt.title("Points by game")
plt.ylim(ymin, ymax)
plt.xlim(xmin, xmax)
plt.grid()
plt.show()

In [ ]:
assert False

In [ ]:
from nba_api.stats.static import players
from nba_api.stats.endpoints import commonplayerinfo

player_info = commonplayerinfo.CommonPlayerInfo()
player_data = player_info.get_data_frames()[0]
player_data.head()


# def activePlayers():
#     # Gets a random active player.
#     playerList = players.get_active_players()
#     random.shuffle(playerList)
#     playerList = playerList.pop()

#     # Gets random active players info
#     player_info = commonplayerinfo.CommonPlayerInfo(player_id=playerList['id'])
#     player_info = player_info.get_normalized_dict()