In [2]:
# !pip install lxml

In [3]:
import pandas as pd
pd.options.display.max_columns = None

import numpy as np

In [4]:
# CHAT GPT
# I have a pandas dataset with the columns (team_name, date, is_win)
# team name is a string name of the team (3 teams are a, b, and c)
# date is the date of the game, and is_win is a 0 or 1 for if they won or lost.


# Each team has 15 games in december (scattered throughout the days of december 1st through the 31st. )

# I'd like to add a new column (is_first_game_after_dec_15) that is a 1 if it is a teams first game after december 15th. How can I do that?


# Create a sample DataFrame
data = {'team_name': ['a'] * 5 + ['b'] * 5 + ['c'] * 5,
        'date': [
            "2023-12-01",
            "2023-12-03",
            "2023-12-17",
            "2023-12-18",
            "2023-12-19",
            
            "2023-12-12",
            "2023-12-16",
            "2023-12-17",
            "2023-12-18",
            "2023-12-19",
            
            "2023-12-17",
            "2023-12-18",
            "2023-12-19",
            "2023-12-20",
            "2023-12-21",
            
            
        ],
        'is_win': [1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0]}

df = pd.DataFrame(data)

# # Convert 'date' column to datetime if it's not already
df['date'] = pd.to_datetime(df['date'])

df['team_game_id'] = df.groupby("team_name").cumcount() + 1

# Sort the DataFrame by date
df.sort_values(by=['team_name', 'date'], inplace=True)
df = df.reset_index()

# Calculate the cumulative sum of games played by each team before Dec 15th
# df['cumulative_games_before_dec_15'] = df.groupby('team_name')['is_win'].sum()

# # Create the 'is_first_game_after_dec_15' column
# df['is_first_game_after_dec_15'] = df['cumulative_games_before_dec_15'].eq(0).astype(int)

# # Drop the temporary 'cumulative_games_before_dec_15' column if you don't need it
# df.drop(columns=['cumulative_games_before_dec_15'], inplace=True)


df.info()
df#.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         15 non-null     int64
 1   team_name     15 non-null     object
 2   date          15 non-null     datetime64[ns]
 3   is_win        15 non-null     int64
 4   team_game_id  15 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 728.0+ bytes

    index team_name       date  is_win  team_game_id
0       0         a 2023-12-01       1             1
1       1         a 2023-12-03       0             2
2       2         a 2023-12-17       1             3
3       3         a 2023-12-18       1             4
4       4         a 2023-12-19       0             5
5       5         b 2023-12-12       1             1
6       6         b 2023-12-16       0             2
7       7         b 2023-12-17       0             3
8       8         b 2023-12-18       1             4
9       9         b 2023-12-19       0             5
10     10         c 2023-12-17       1             1
11     11         c 2023-12-18       0             2
12     12         c 2023-12-19       1             3
13     13         c 2023-12-20       1             4
14     14         c 2023-12-21       0             5

In [5]:
a = df[df['date'].gt("2023-12-15")].groupby('team_name').first()#.ungroup()

my_dict = a['team_game_id'].to_dict()

In [10]:
df['after_id'] = df['team_name'].map(my_dict)
df['is_after'] = np.where(df['team_game_id'] == df['after_id'],1,0)
df

    index team_name       date  is_win  team_game_id  is_after  after_id
0       0         a 2023-12-01       1             1         0         3
1       1         a 2023-12-03       0             2         0         3
2       2         a 2023-12-17       1             3         1         3
3       3         a 2023-12-18       1             4         0         3
4       4         a 2023-12-19       0             5         0         3
5       5         b 2023-12-12       1             1         0         2
6       6         b 2023-12-16       0             2         1         2
7       7         b 2023-12-17       0             3         0         2
8       8         b 2023-12-18       1             4         0         2
9       9         b 2023-12-19       0             5         0         2
10     10         c 2023-12-17       1             1         1         1
11     11         c 2023-12-18       0             2         0         1
12     12         c 2023-12-19       1             3         0         1
13     13         c 2023-12-20       1             4         0         1
14     14         c 2023-12-21       0             5         0         1

In [5]:
# a = pd.read_html("https://www.sportsmediawatch.com/nba-tv-schedule/#May4")
# print(type(a))
# print(len(a))

<class 'list'>
276

In [7]:
# Sample DataFrame
data = {'team': ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
        'result': ['w', 'w', 'l', 'w', 'w', 'w', 'l', 'l', 'w']}

df = pd.DataFrame(data)

# Calculate win streak and loss streak
df['win_streak_id'] = (df['result'] == 'w').astype(int).groupby(df['team']).cumsum()
df['loss_streak_id'] = (df['result'] == 'l').astype(int).groupby(df['team']).cumsum()

# # Calculate win streak and loss streak with resets
# df['win_streak'] = df.apply(lambda row: row.groupby('team').cumsum() if row['result'] == 'w' else 0, axis=1)
# df['loss_streak'] = df.apply(lambda row: row.groupby('team').cumsum() if row['result'] == 'l' else 0, axis=1)


print(df)

  team result  win_streak_id  loss_streak_id
0    A      w              1               0
1    A      w              2               0
2    A      l              2               1
3    A      w              3               1
4    A      w              4               1
5    B      w              1               0
6    B      l              1               1
7    B      l              1               2
8    B      w              2               2

In [6]:
# Sample DataFrame
data = {'team': ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
        'result': ['w', 'w', 'l', 'w', 'w', 'w', 'l', 'l', 'w']}

df = pd.DataFrame(data)

# Calculate win streak and loss streak with resets
def calculate_streaks(row):
    if row['result'] == 'w':
        row['win_streak'] = row['win_streak'] + 1
        row['loss_streak'] = 0
    elif row['result'] == 'l':
        row['win_streak'] = 0
        row['loss_streak'] = row['loss_streak'] + 1
    return row

df['win_streak'] = 0
df['loss_streak'] = 0
df = df.apply(calculate_streaks, axis=1)

print(df)

  team result  win_streak  loss_streak
0    A      w           1            0
1    A      w           1            0
2    A      l           0            1
3    A      w           1            0
4    A      w           1            0
5    B      w           1            0
6    B      l           0            1
7    B      l           0            1
8    B      w           1            0

In [12]:
# https://joshdevlin.com/blog/calculate-streaks-in-pandas/


data = {'team': ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
        'result': ['w', 'w', 'l', 'w', 'w', 'w', 'l', 'l', 'w']}
df = pd.DataFrame(data)

df['start_of_streak'] = df.result.ne(df['result'].shift())
df['streak_id'] = df['start_of_streak'].cumsum()

df['streak_counter'] = df.groupby('streak_id').cumcount() + 1

df['result2'] = df['result']




df

  team result  start_of_streak  streak_id  streak_counter result2
0    A      w             True          1               1       w
1    A      w            False          1               2       w
2    A      l             True          2               1       l
3    A      w             True          3               1       w
4    A      w            False          3               2       w
5    B      w            False          3               3       w
6    B      l             True          4               1       l
7    B      l            False          4               2       l
8    B      w             True          5               1       w

In [3]:
import pandas as pd

# Example DataFrame (replace this with your actual data)
data = {
    'season_start_year': [2013, 2013, 2013, 2013, 2013],
    'city_team_key': ['Atlanta Hawks', 'Atlanta Hawks', 'Atlanta Hawks', 'Atlanta Hawks', 'Atlanta Hawks'],
    'team': ['Atlanta Hawks', 'Atlanta Hawks', 'Atlanta Hawks', 'Atlanta Hawks', 'Atlanta Hawks'],
    'GAME_DATE': [pd.Timestamp('2013-10-30'), pd.Timestamp('2013-11-01'), pd.Timestamp('2013-11-03'),
                  pd.Timestamp('2013-11-05'), pd.Timestamp('2013-11-07')],
    # Add more columns as needed
}

df = pd.DataFrame(data)

# Sort the DataFrame by team and GAME_DATE
df = df.sort_values(by=['team', 'GAME_DATE'])

# Group by team and calculate the number of previous games in the last 7 days
df['previous_games_last_7_days'] = df.groupby('team')['GAME_DATE'].rolling('2D').apply(lambda x: x.size - 1).reset_index(level=0, drop=True)

print(df)

ValueError: window must be an integer 0 or greater